/* Weather.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.weather {
  place-self: center;
  padding-top:30px;
  position: relative;
  right: 600px;
  top: 140px;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #2f4680, #500ae4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 580px;
  width: 550px;
}

/* ADDED*/
.weather:hover {
  background-color: grey; /* Darker shade for hover effect */
  opacity: 0.95;
}

.no-text{
  align-items: center;
  text-align: center;
  left: 0px;
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 15px 15px 15px 15px;
  gap: 5px;
  background:#0b2762;
  width: 90%;
  max-width: 650px;
  position: relative;
  bottom: 40px;
  left: 8px;
  align-items: center;
}

.search-bar input {
  align-items: center;
  height: 47px;
  width: 560px !important;
  border-radius: 40px;
  padding-left: 20px;
  /* padding-right: 10px; */
  color: #626262;
  background: #ebfffc;
  font-size: 20px;
}

.search-bar img{
  position: relative;
  right: -2.5px;
  width: 50px;
  padding: 15px;
  border-radius: 50%;
  background: #ebfffc;
  cursor:pointer;
}


.greeting-message {
    position: relative;
    bottom: 600px;
    left: 600px;
    font-family: "Poppins", sans-serif;
    font-size: 2.3em;
    margin-top: 10px;
    text-align: center;
}

.greeting-message.light-theme {
  color: #333!important;
}
.greeting-message.dark-theme {
  color: white;
}

  .weather-icon{
    width: 150px;
    /* margin: 20px 0; */
    align-items: center;
    text-align: center;
    position:relative;
    left: 70px;
  }

  .temp{
    color: #fff;
    font-size: 80px;
    line-height:1;
  }

  .loc{
    color: #fff;
    font-size: 40px;
  }
  
  .weather-data{
    width: 90%;
    margin-top: 20px;
    color: #fff;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  .weather-data .col{
    display: flex;
    align-items: flex-start;
    gap:12px;
    font-size: 22px;
  }

  .weather-data .col span{
    display: block;
    font-size: 16px;
  }

  .weather-data .col img{
    width: 35px;
    margin-top: 10px;
  }

  .greeting-message{
    width: 300%;
    position: absolute;
    margin-left:-850px;

  }